**合併數據**

In [1]:
import pandas as pd
import glob
import os

folder_path = './Training data/'
files = glob.glob(os.path.join(folder_path, '*.csv'))
data = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

data

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,10,2024-03-01 17:14:06.000,0.0,1017.48,15.59,94.30,652.92,0.12
1,10,2024-03-01 17:14:47.000,0.0,1017.48,15.66,94.04,682.50,0.12
2,10,2024-03-01 17:15:47.000,0.0,1017.47,15.74,94.10,750.00,0.14
3,10,2024-03-01 17:16:47.000,0.0,1017.46,15.78,94.09,738.33,0.14
4,10,2024-03-01 17:17:47.000,0.0,1017.49,15.80,94.08,660.83,0.12
...,...,...,...,...,...,...,...,...
1375023,9,2024-10-18 14:27:02.000,0.0,1006.65,33.09,52.98,5280.83,6.71
1375024,9,2024-10-18 14:28:02.000,0.0,1006.67,33.07,53.42,4965.00,5.74
1375025,9,2024-10-18 14:29:02.000,0.0,1006.68,32.92,53.73,4709.17,5.13
1375026,9,2024-10-18 14:30:02.000,0.0,1006.70,32.92,53.55,4480.00,4.69
1375027,9,2024-10-18 14:31:02.000,0.0,1006.67,32.98,53.51,4387.50,4.35

**合併地點與時間**

In [5]:
data['DateTime'] = pd.to_datetime(data['DateTime'])
data = data.sort_values(by=['LocationCode', 'DateTime'])
#data['Combined'] =  pd.to_datetime(data['DateTime']).dt.strftime('%Y%m%d%H%M') + data['LocationCode'].apply(lambda x: f'{x:02}')
data['DateLoc'] = data['DateTime'].dt.strftime('%Y%m%d') + data['LocationCode'].apply(lambda x : f'{x:02}')
data.to_csv('combined.csv', index=False)

data

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),DateLoc
656248,1,2024-01-01 06:31:08,0.0,1016.50,17.5,86.8,25.00,0.00,2024010101
656249,1,2024-01-01 06:32:08,0.0,1016.53,17.5,86.7,28.33,0.00,2024010101
656250,1,2024-01-01 06:33:08,0.0,1016.57,17.5,86.7,32.50,0.00,2024010101
656251,1,2024-01-01 06:34:08,0.0,1016.58,17.5,86.7,39.17,0.00,2024010101
656252,1,2024-01-01 06:35:08,0.0,1016.59,17.5,86.7,45.83,0.00,2024010101
...,...,...,...,...,...,...,...,...,...
656243,17,2024-07-12 15:26:46,0.0,1004.05,36.5,65.4,12315.00,35.91,2024071217
656244,17,2024-07-12 15:27:47,0.0,1004.08,36.5,64.7,12692.50,38.23,2024071217
656245,17,2024-07-12 15:28:47,0.0,1004.10,36.5,64.5,12960.00,39.95,2024071217
656246,17,2024-07-12 15:29:47,0.0,1004.11,36.4,64.9,12751.67,38.51,2024071217
656247,17,2024-07-12 15:30:47,0.0,1004.07,36.4,64.9,12288.33,34.87,2024071217

**讀取日期**

In [ ]:
upload_file = 'upload.csv'
target_data = pd.read_csv(upload_file)
target_set = set()

target_data['Date'] = target_data['序號'].astype(str).str[:8]
target_data['LocationCode'] = target_data['序號'].astype(str).str[12:14]

target_data['DateLoc'] = target_data['Date'] + target_data['LocationCode']
target_set.update(target_data['DateLoc'].unique())
len(target_set)

{'2024071312', '2024012917', '2024060303', '2024051815', '2024071301', '2024031613', '2024061912', '2024041910', '2024070512', '2024051808', '2024060816', '2024041311', '2024060708', '2024053015', '2024022602', '2024070417', '2024071211', '2024081208', '2024063008', '2024061409', '2024030909', '2024092808', '2024051405', '2024072206', '2024052607', '2024092810', '2024041714', '2024082808', '2024042612', '2024051316', '2024042801', '2024031616', '2024041416', '2024041212', '2024031413', '2024032410', '2024022401', '2024052908', '2024062916', '2024022417', '2024050905', '2024092809', '2024011101', '2024071514', '2024021815', '2024020717', '2024012802', '2024092010', '2024032701', '2024092704', '2024030710', '2024062701', '2024052817', '2024061417', '2024071410', '2024062906', '2024070414', '2024052608', '2024071501', '2024052403', '2024041409', '2024092007', '2024101808', '2024032216', '2024052609', '2024062112', '2024031610', '2024032901', '2024052610', '2024041213', '2024042216', '2024062809', '2024031715', '2024030508', '2024051714', '2024031415', '2024021808', '2024051001', '2024061808', '2024022714', '2024070606', '2024092312', '2024030517', '2024070502', '2024071709', '2024021515', '2024062506', '2024031712', '2024061308', '2024022601', '2024031010', '2024040317', '2024011701', '2024012502', '2024071908', '2024030917', '2024062904', '2024060217', '2024062301', '2024071810', '2024092208', '2024072010', '2024070415', '2024032508', '2024051510', '2024050808', '2024061913', '2024060611', '2024070805', '2024050917', '2024022514', '2024101607', '2024070404', '2024050609', '2024021517', '2024020408', '2024070605', '2024022113', '2024061710', '2024021413', '2024041215', '2024032813', '2024052401', '2024011901', '2024062808', '2024101108', '2024041210', '2024051716', '2024101804', '2024021301', '2024060417', '2024021302', '2024070701', '2024062717', '2024061917', '2024052706', '2024070508', '2024070208', '2024091807', '2024010601', '2024061301', '2024102808', '2024041403', '2024032714', '2024021817', '2024070702', '2024042004', '2024012408', '2024070917', '2024031409', '2024031703', '2024050801', '2024061207', '2024061910', '2024062109', '2024043001', '2024063010', '2024042611', '2024012317', '2024051504', '2024042310', '2024052006', '2024050802', '2024071707', '2024060917', '2024032211', '2024070301', '2024061507', '2024092209', '2024042204', '2024031512', '2024012808', '2024052001', '2024031117', '2024060515', '2024042702', '2024051910', '2024071508', '2024051304', '2024051501', '2024100212', '2024052108', '2024031902', '2024091912', '2024032808', '2024070617', '2024062917', '2024031817', '2024032711', '2024062005', '2024101608', '2024061505', '2024062003', '2024052603', '2024070908', '2024061501', '2024052112', '2024051916', '2024050717', '2024071110'}

**分割題目**

In [10]:
train_data = data[~data['DateLoc'].isin(target_set)]
input_data = data[data['DateLoc'].isin(target_set)]
input_data.to_csv('input.csv', index=False)
train_data.to_csv('train.csv', index=False)

**異常值處理**

**SunLight(Lux)**

In [11]:
from sklearn.model_selection import train_test_split
filtered_data = train_data[train_data['Sunlight(Lux)'] != 117758.2]
# 特徵與標籤
X = filtered_data[['Power(mW)']]  # 發電量 (特徵)
y = filtered_data['Sunlight(Lux)']  # 光照度 (目標)
# 分割訓練與測試集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression

# 建立線性回歸模型
model = LinearRegression()

# 訓練模型
model.fit( X_train,y_train )

# 獲取模型係數與截距
print(f"模型係數: {model.coef_[0]}")  # 光照度對發電量的影響係數
print(f"模型截距: {model.intercept_}")  # 發電量基線

模型係數: 55.60570241742195
模型截距: 7422.522839557063

In [13]:
from sklearn.metrics import mean_squared_error, r2_score

# 預測
y_pred = model.predict(X_test)

# 計算誤差與解釋力
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MSE: {mse}")
print(f"R2: {r2}")

MSE: 99281509.20590872
R2: 0.8667737009319059

In [14]:
# 用回歸模型補充異常光照度對應的發電量
data.loc[data['Sunlight(Lux)'] == 117758.2, 'Sunlight(Lux)'] = \
    model.predict(data[data['Sunlight(Lux)'] == 117758.2][['Power(mW)']])

In [15]:
data

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),DateLoc
656248,1,2024-01-01 06:31:08,0.0,1016.50,17.5,86.8,25.00,0.00,2024010101
656249,1,2024-01-01 06:32:08,0.0,1016.53,17.5,86.7,28.33,0.00,2024010101
656250,1,2024-01-01 06:33:08,0.0,1016.57,17.5,86.7,32.50,0.00,2024010101
656251,1,2024-01-01 06:34:08,0.0,1016.58,17.5,86.7,39.17,0.00,2024010101
656252,1,2024-01-01 06:35:08,0.0,1016.59,17.5,86.7,45.83,0.00,2024010101
...,...,...,...,...,...,...,...,...,...
656243,17,2024-07-12 15:26:46,0.0,1004.05,36.5,65.4,12315.00,35.91,2024071217
656244,17,2024-07-12 15:27:47,0.0,1004.08,36.5,64.7,12692.50,38.23,2024071217
656245,17,2024-07-12 15:28:47,0.0,1004.10,36.5,64.5,12960.00,39.95,2024071217
656246,17,2024-07-12 15:29:47,0.0,1004.11,36.4,64.9,12751.67,38.51,2024071217
656247,17,2024-07-12 15:30:47,0.0,1004.07,36.4,64.9,12288.33,34.87,2024071217

# Model Training

**提取特徵**

In [ ]:
features = ['Pressure(hpa)', 'Temperature(°C)', 
            'Humidity(%)', 'Sunlight(Lux)']
X = train_data[features]
y = train_data['Power(mW)']

**LSTM格式**

In [ ]:
import numpy as np

def create_sequences(X, y, time_steps, forecast_steps=1):
    X_seq, y_seq = [], []
    for i in range(len(X) - time_steps - forecast_steps + 1):
        X_seq.append(X.iloc[i:i+time_steps].values)
        y_seq.append(y.iloc[i+time_steps:i+time_steps+forecast_steps].values)
    return np.array(X_seq), np.array(y_seq)

time_steps = 10  # 每次輸入的時間步長
X_seq, y_seq = create_sequences(X, y, time_steps)

**資料分割**

In [ ]:
from sklearn.model_selection import train_test_split

split_index = int(len(X_seq) * 0.8)
X_train, X_test = X_seq[:split_index], X_seq[split_index:]
y_train, y_test = y_seq[:split_index], y_seq[split_index:]

**model_establish**

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.layers import Dropout

model = Sequential([
    LSTM(50, activation='relu', return_sequences=True, input_shape=(time_steps, len(features))),
    Dropout(0.2),  # 增加 Dropout
    LSTM(50, activation='relu'),  # 第二層 LSTM
    Dense(1)  # 輸出層
])
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

**model_train**

In [ ]:
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/100
27501/27501 ━━━━━━━━━━━━━━━━━━━━ 159s 5ms/step - loss: 624777.0625 - mae: 174.4673 - val_loss: 43385.5625 - val_mae: 85.4981
Epoch 2/100
27501/27501 ━━━━━━━━━━━━━━━━━━━━ 144s 5ms/step - loss: 43451.2852 - mae: 90.1615 - val_loss: 43231.6250 - val_mae: 102.0263
Epoch 3/100
 1700/27501 ━━━━━━━━━━━━━━━━━━━━ 2:29 6ms/step - loss: 47492.8438 - mae: 99.9544

In [ ]:
predictions = model.predict(X_test)

8069/8069 ━━━━━━━━━━━━━━━━━━━━ 7s 893us/step

array([[ 5.0898987e+02],
       [-7.4032640e+00],
       [-2.4849033e-01],
       ...,
       [-2.0511980e+00],
       [ 2.2856850e+02],
       [ 1.8376213e+02]], dtype=float32)

**資料輸出**

In [ ]:
import pandas as pd

results = pd.DataFrame({
    'Id': ['202402180900{:02d}'.format(i) for i in range(1, len(predictions) + 1)],
    'Power(mW)': predictions.flatten().round(2)
})

results.to_csv('upload(test).csv', index=False)